.advantages {
  position: relative;
  padding: 43px 0 0 0;
  overflow: hidden;

  @media (min-width: $tablet-width) {
    padding: 0;
  }
}

.advantages__slogan {
  position: relative;
  text-align: center;
  font-style: normal;
  font-weight: 300;
  font-size: 24px;
  line-height: 120%;
  padding: 0 0 20px 0;
  margin: 0 auto;
  color: $black;
  background-color: $white;
  z-index: 2;

  @media (min-width: $tablet-width) {
    font-size: 40px;
    line-height: 54px;
    padding: 48px 0 2px 0;
  }

  @media (min-width: $desktop-width) {
    font-size: 50px;
    line-height: 68px;
    padding: 60px 190px 35px 190px;
    margin: 0 auto;
  }
}

.advantages__slogan-carryover--mobile {
  display: block;

  @media (min-width: $tablet-width) {
    display: none;
  }
}

.advantages__slogan-carryover--tablet {
  display: none;

  @media (min-width: $tablet-width) {
    display: block;
  }
}

.advantages__list-wrapper {
  background-color: $white-grey;
  width: 100%;

  &::before {
    content: "";
    position: absolute;
    display: block;
    width: 100%;
    height: 130px;
    top: 114px;
    left: 0;
    background-image: (url("../img/bg-triangle-white.svg"));
    background-repeat: no-repeat;
    background-position: 0 0;
    background-size: cover;
    z-index: 1;

    @media (min-width: $tablet-width) {
      top: 159px;
    }

    @media (min-width: $desktop-width) {
      top: 283px;
    }
  }
}

.advantages__list {
  padding: 98px 0 287px 0;
  margin: 0;
  list-style: none;
  background-color: $white-grey;

  &::after {
    content: "";
    position: absolute;
    display: block;
    width: 157px;
    height: 320px;
    bottom: -42px;
    left: 0;
    right: 0;
    margin: 0 auto;
    background-image: url("../img/iphone-screen-mobile@1x.png");
    background-repeat: no-repeat;
    z-index: 1;

    @media (min-resolution: 2dppx) {
      background-image: url("../img/iphone-screen-mobile@2x.png");
      background-position: -1px 1px;
      background-size: cover;
    }
  }

  @media (min-width: $tablet-width) {
    &::after {
      content: "";
      position: absolute;
      display: block;
      width: 268px;
      height: 547px;
      bottom: -65px;
      left: 20px;
      right: auto;
      background-image: url("../img/iphone-screen-3-tablet@1x.png");
      background-repeat: no-repeat;

      @media (min-resolution: 2dppx) {
        background-image: url("../img/iphone-screen-3-tablet@2x.png");
        background-position: 2px 0;
        background-size: contain;
      }
    }

    padding-bottom: 13px;
  }

  @media (min-width: $desktop-width) {
    margin: 0 auto;
    display: flex;
    justify-content: space-around;
    padding-top: 374px;
    padding-bottom: 0;

    &::after {
      display: none;
    }
  }
}

.advantages__item {
  @media (min-width: $desktop-width) {
    min-width: 28%;
    margin: 0 25px 0 30px;

    &::before {
      content: "";
      position: absolute;
      display: block;
      width: 300px;
      height: 17px;
      background: linear-gradient(90deg, rgba(0, 0, 0, 0) 0%, #000000 49.8%, rgba(0, 0, 0, 0) 93.23%);
      opacity: 0.3;
      filter: blur(4px);
      margin: -66px -42px 0 -27px;
    }
  }

  @media (min-width: $desktop-width) {
    &:nth-child(1)::after {
      content: "";
      position: absolute;
      display: block;
      width: 200px;
      height: 301px;
      top: 323px;
      margin: 0 auto 0 20px;
      background-image: url("../img/iphone-screen-1-desktop@1x.png");
      background-repeat: no-repeat;
      background-size: cover;
      background-position: -37px 0;
      z-index: 2;

      @media (min-resolution: 2dppx) {
        background-image: url("../img/iphone-screen-1-desktop@2x.png");
      }
    }
  }

  @media (min-width: $desktop-width) {
    &:nth-child(2)::after {
      content: "";
      position: absolute;
      display: block;
      width: 200px;
      height: 301px;
      top: 323px;
      margin: 0 auto 0 29px;
      background-image: url("../img/iphone-screen-2-desktop@1x.png");
      background-repeat: no-repeat;
      background-size: cover;
      background-position: -42px 0;
      z-index: 2;

      @media (min-resolution: 2dppx) {
        background-image: url("../img/iphone-screen-2-desktop@2x.png");
      }
    }
  }

  @media (min-width: $desktop-width) {
    &:nth-child(3)::after {
      content: "";
      position: absolute;
      display: block;
      width: 186px;
      height: 301px;
      top: 323px;
      margin: 0 auto 0 37px;
      background-image: url("../img/iphone-screen-3-desktop@1x.png");
      background-repeat: no-repeat;
      background-size: cover;
      background-position: -47px 0;
      z-index: 2;

      @media (min-resolution: 2dppx) {
        background-image: url("../img/iphone-screen-3-desktop@2x.png");
      }
    }
  }
}

.advantages__title {
  text-align: center;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 24px;
  color: $black;
  margin: 0;
  padding: 0 0 11px 0;

  @media (min-width: $tablet-width) {
    text-align: left;
    margin-left: 50%;
    padding: 6px 0 12px 0;
  }

  @media (min-width: $desktop-width) {
    text-align: center;
    margin: 0 auto;
    font-size: 30px;
    line-height: 30px;
    padding: 6px 20px 22px 16px;
  }
}

.advantages__description {
  text-align: center;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  color: $grey;
  margin: 0;
  padding: 0 22px 32px 21px;
  word-spacing: 0.2em;

  @media (min-width: $tablet-width) {
    text-align: left;
    margin-left: 50%;
    padding: 0 0 28px 0;
  }

  @media (min-width: $desktop-width) {
    text-align: center;
    margin: 0 auto;
    padding: 0;
    font-size: 18px;
    line-height: 30px;
  }
}
