.button {
  display: block;
  box-sizing: border-box;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 18px;
  margin: 0;
  padding: 21px 39px;
  color: $white;
  border: none;
  appearance: none;
}
