.contacts {
  position: relative;
}

.contacts__title {
  font-weight: 300;
  font-size: 24px;
  line-height: 120%;
  text-align: center;
  margin: 0;
  padding: 42px 0 35px 0;
  color: $dark-grey;

  @media (min-width: $tablet-width) {
    font-size: 40px;
    line-height: 61px;
    padding: 37px 0 26px 0;
  }

  @media (min-width: $desktop-width) {
    font-size: 50px;
    line-height: 68px;
    padding: 60px 0 36px 0;
  }
}

.contacts__list {
  margin: 0;
  display: flex;
  flex-direction: column;

  @media (min-width: $tablet-width) {
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
  }

  @media (min-width: $desktop-width) {
    justify-content: space-between;
  }
}

.contacts__appeal {
  font-weight: bold;
  font-size: 18px;
  line-height: 25px;
  text-align: center;
  color: $dark-grey;

  @media (min-width: $tablet-width) {
    padding: 0 0 3px 4px;
  }

  @media (min-width: $desktop-width) {
    padding: 0 0 20px 4px;
  }
}

.contacts__difinition {
  font-weight: 300;
  font-style: normal;
  font-size: 24px;
  line-height: 33px;
  color: $red;
  text-decoration: none;
  text-align: center;
  padding: 0;
  margin: 0;
}

.contacts__email {
  padding: 0 0 12px 0;

  @media (min-width: $tablet-width) {
    padding: 0 0 40px 0;
  }
}

.contacts__email-link {
  color: $red;
  text-decoration: none;
  text-align: center;

  &:hover,
  &:focus {
    color: $dark-grey;
    text-decoration: underline;
  }

  &:active {
    color: $dark-grey;
    opacity: 0.3;
  }
}

.contacts__phone {
  padding: 0 0 8px 0;

  @media (min-width: $tablet-width) {
    padding: 0 0 0 4px;
  }
}

.contacts__phone-link {
  color: $red;
  text-decoration: none;
  text-align: center;
}

.contacts__adress {
  padding: 0 0 33px 0;

  @media (min-width: $tablet-width) {
    padding: 0 0 15px 0;
  }
}

.contacts__adress-name {
  font-style: normal;
  color: $red;
  text-align: center;
  padding: 0;
}

.contacts__item {
  margin: 0 0 9px 0;

  @media (min-width: $tablet-width) {
    padding: 0 8px 0 36px;

    &:nth-child(2) {
      margin: 0 17px 0 50px;
    }

    &:nth-child(3) {
      padding: 0;
    }
  }

  @media (min-width: $desktop-width) {
    padding: 0 15px 0 44px;

    &:nth-child(2) {
      margin: 0 17px 0 -42px;
      order: 2;
    }
  }
}
