.filter {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 18px;
  border: none;
  background-color: $white-grey;
  padding: 0 0 0 0;
  margin: 0 0 40px 0;

  @media (min-width: $tablet-width) {
    background-color: $white;
    border: 2px solid $warm-grey;
    border-radius: 1px;
  }
}

.filter__legend {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 18px;
  text-align: center;
  text-transform: uppercase;
  width: 100%;
  color: $red;
  padding: 40px 40px 40px 40px;
  background-color: $white-grey;

  @media (min-width: $tablet-width) {
    width: max-content;
    background-color: $white;
    padding: 0 30px;

    & br {
      display: none;
    }
  }
}

.filter__input-list {
  padding: 0;
  margin: 0;
  list-style: none;

  @media (min-width: $tablet-width) {
    padding: 0 0 36px 0;
  }
}

.filter__input-list--checkbox {
  @media (min-width: $tablet-width) {
    padding: 0 0 48px 0;
  }

  @media (min-width: $desktop-width) {
    display: flex;
    flex-wrap: wrap;
    padding: 0 0 60px 0;
  }
}

.filter__option {
  position: relative;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 30px;
  padding: 0 0 52px 60px;
  color: $dark-grey;

  @media (min-width: $tablet-width) {
    padding: 47px 0 5px 57px;
  }

  @media (min-width: $desktop-width) {
    padding: 48px 0 0 120px;
    margin: 0 0 0 0;

    &:nth-child(2n+2) {
      order: 1;
      padding: 48px 0 0 165px;
    }

    &:nth-child(4n+2) {
      padding: 49px 0 0 118px;
    }
  }
}

.filter__input-checkbox {
  & + label::before {
    content: "";
    position: absolute;
    width: 35px;
    height: 35px;
    top: -4px;
    left: 0;
    background: $white;
    border: 2px solid $warm-grey;
    border-radius: 1px;

    @media (min-width: $tablet-width) {
      top: 42px;
      left: -2px;
    }

    @media (min-width: $desktop-width) {
      top: 43px;
      left: 63px;

      &:nth-child(4n+2) {
        left: 199px;
      }
    }
  }

  &:checked + label::before {
    content: "";
    position: absolute;
    width: 35px;
    height: 35px;
    top: -4px;
    left: 0;
    background-image: url("../img/icon-tick.svg");
    background-repeat: no-repeat;
    background-position: 7px 10px;

    @media (min-width: $tablet-width) {
      top: 42px;
      left: -2px;
    }

    @media (min-width: $desktop-width) {
      top: 43px;
      left: 63px;
    }
  }
}

.filter__checkbox:nth-child(4n) .filter__input-checkbox {
  @media (min-width: $desktop-width) {
    & + label::before {
      left: 99px;
    }
  }
}

.filter__input-checkbox:hover + label::before,
.filter__input-checkbox:focus + label::before {
  border-color: $dark-grey;
}

.filter__input-checkbox:active + label::before {
  border-color: $red;
}

.filter__input-radio {
  & + label::before {
    content: "";
    position: absolute;
    width: 35px;
    height: 35px;
    top: -8px;
    left: 1px;
    background: $white;
    border: 2px solid $warm-grey;
    border-radius: 50%;

    @media (min-width: $tablet-width) {
      top: 42px;
      left: 59px;
    }

    @media (min-width: $desktop-width) {
      top: 44px;
      left: 73px;
    }
  }

  &:checked + label::before {
    content: "";
    position: absolute;
    width: 35px;
    height: 35px;
    top: -8px;
    left: 1px;
    background-image: url("../img/ellipse-small.svg");
    background-repeat: no-repeat;
    background-position: 10px 10px;

    @media (min-width: $tablet-width) {
      top: 42px;
      left: 59px;
    }

    @media (min-width: $desktop-width) {
      top: 44px;
      left: 73px;
    }
  }
}

.filter__radio {
  padding: 0 0 43px 70px;

  @media (min-width: $tablet-width) {
    padding: 47px 0 0 120px;
  }

  @media (min-width: $desktop-width) {
    padding: 47px 0 0 135px;
  }
}

.filter__input-radio:hover + label::before,
.filter__input-radio:focus + label::before {
  border-color: $dark-grey;
}

.filter__input-radio:active + label::before {
  border-color: $red;
}
