.form__box {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 20px;

  @media (min-width: $desktop-width) {
    grid-template-columns: 1fr 1fr;
  }
}

.form__entry-field {
  position: relative;
  text-align: start;
  width: 100%;
  height: calc(100% - 4px);
  border: 2px solid $warm-grey;
  border-radius: 1px;
  padding: 0;
  margin: 0 0 24px 0;

  @media (min-width: $tablet-width) {
    margin-bottom: 20px;
  }

  &:hover,
  &:focus {
    border-color: $dark-grey;
  }

  &:active {
    border-color: $red;
  }
}

.form__fragment {
  padding: 0 20px;
  margin: 0 -20px 0 -20px;
  overflow: hidden;

  @media (min-width: $tablet-width) {
    padding: 0 60px 0 60px;
    margin: 0;
  }
}

.form__input-content {
  font-family: inherit;
  font-size: 18px;
  border: none;
  color: $black;
  padding: 18px 20px 17px 20px;
  width: calc(100% - 40px);
  outline: none;

  &:focus {
    outline: 2 solid $red;
  }
}

.form__text {
  box-sizing: border-box;
  width: 100%;
  color: $black;
  resize: none;
  padding: 17px 20px 10px 19px;

  @media (min-width: $tablet-width) {
    padding: 17px 20px 1px 18px;
  }

  @media (min-width: $desktop-width) {
    height: 121px;
  }
}

.form__wrapper-button {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0 0 16px 0;

  @media (min-width: $tablet-width) {
    flex-direction: row;
    justify-content: space-between;
  }

  @media (min-width: $desktop-width) {
    grid-column: -1 / 1;
    grid-row: 5;
    margin: 0 0 3px 0;
  }
}

.form__button-submit {
  display: inline-block;
  width: 100%;
  min-height: 59px;
  line-height: 30px;
  border: 2px solid $green;
  border-radius: 1px;
  background-color: $green;
  margin: 2px 0 32px 0;
  text-transform: uppercase;

  &:hover,
  &:focus {
    background-color: #1c9b5e;
    border-color: #1c9b5e;
  }

  &:active {
    color: rgba($color: $white, $alpha: 0.3);
  }

  @media (min-width: $tablet-width) {
    width: 48%;
  }

  @media (min-width: $desktop-width) {
    width: 33%;
    margin: 0;
  }
}

.form__button--disabled {
  background-color: $warm-grey;
  border-color: $warm-grey;
}

.form__legend {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 30px;
  align-items: center;
  text-transform: uppercase;
  margin: 0 auto;

  @media (min-width: $tablet-width) {
    align-items: right;
    margin: 0;
    padding: 18px 0 0 0;
  }
}

.form__legend-star {
  color: $red;
}

.form__legend-full-legend {
  display: none;

  @media (min-width: $desktop-width) {
    display: inline-block;
  }
}

.form__surname,
.form__name,
.form__patronymic {
  @media (min-width: $tablet-width) {
    display: flex;
    justify-content: flex-start;
    padding-bottom: 33px;
  }
}

.form__patronymic {
  @media (min-width: $desktop-width) {
    padding-bottom: 10px;
  }
}

.form__user-data {
  margin: 0 0 0 0;

  @media (min-width: $tablet-width) {
    margin: 0 0 -17px 0;
  }

  @media (min-width: $desktop-width) {
    grid-column: 1 / 2;
    grid-row: 1;
    padding-top: 14px;
    margin: 0 25px 0 0;
  }
}

.form__filter-application {
  @media (min-width: $tablet-width) {
    grid-columns: 1;
    grid-row: 2 / 3;
    padding: 0 0 20px 0;
  }

  @media (min-width: $desktop-width) {
    grid-column: 2 / 3;
    grid-row: 1;
    margin: 0 0 39px 25px;
  }
}

.form__input-title {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 18px;
  text-align: left;
  text-transform: uppercase;
  color: $red;
  padding: 0 20px 17px 25px;
  margin: 0;

  @media (min-width: $tablet-width) {
    padding: 0 20px 27px 0;
  }
}

.form__input-title--full-name {
  padding: 0 0 0 0;
  margin: 0 0 10px 25px;

  @media (min-width: $tablet-width) {
    margin: 24px 22px 10px 0;
  }
}

.form__user-contacts {
  border: none;
  padding-top: 14px;

  @media (min-width: $tablet-width) {
    grid-column: 1;
    grid-row: 3 / 4;
    border: 2px solid $warm-grey;
    border-radius: 1px;
    padding-top: 14px;
    margin: 0 0 39px 0;

    .form__user-contacts-title {
      @media (min-width: $tablet-width) {
        padding: 38px 40px 37px 35px;
      }

      @media (min-width: $desktop-width) {
        padding: 0 35px 0 35px;
        margin: 0 0 35px 0;
      }
    }
  }

  @media (min-width: $desktop-width) {
    grid-column: -1 / 1;
    grid-row: 2;
    display: flex;
    justify-content: space-between;
    margin: 0 0 40px 0;
  }
}

.form__contacts-wrapper {
  @media (min-width: $desktop-width) {
    display: flex;
    justify-content: space-between;
    margin: -17px 0 0 0;
  }
}

.form__user-contacts-title {
  display: none;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 18px;
  text-align: center;
  text-transform: uppercase;
  color: $red;
  padding: 30px 25px 40px 25px;
  background-color: $white;

  @media (min-width: $tablet-width) {
    display: block;
    padding: 38px 40px 38px 35px;
  }
}

.form__user-review-title {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 18px;
  text-align: center;
  text-transform: uppercase;
  color: $red;
  padding: 21px 25px 15px 20px;
  background-color: $white;

  @media (min-width: $tablet-width) {
    margin: 0 0 19px 0;
  }

  @media (min-width: $desktop-width) {
    margin: 0 0 15px 0;
  }
}

.form__user-review {
  border: none;

  @media (min-width: $tablet-width) {
    border: 2px solid $warm-grey;
    border-radius: 1px;
    margin: 0 0 44px 0;
    padding: 0 60px 7px 60px;

    & .form__entry-field {
      margin: 0 0 44px 0;
    }
  }

  @media (min-width: $desktop-width) {
    grid-column: -1 / 1;
    grid-row: 4;
    padding: 0 60px 0 60px;
  }
}

.form__user-contacts .form__input-title {
  padding: 0 0 10px 25px;

  @media (min-width: $tablet-width) {
    padding: 18px 0 0 18px;
  }

  @media (min-width: $desktop-width) {
    padding: 2px 0 0 18px;
    margin: -17px 0 18px 0;
  }
}

.form__user-contacts .form__phone {
  @media (min-width: $tablet-width) {
    margin: -17px 0 34px 0;
  }

  @media (min-width: $desktop-width) {
    margin: 0 0 17px 0;
  }
}

.form__phone .form__entry-field {
  @media (min-width: $tablet-width) {
    margin: 0 0 0 0;
  }

  @media (min-width: $desktop-width) {
    margin: 0 0 15px 0;

    &::after {
      content: "";
      position: absolute;
      width: 59px;
      height: 59px;
      bottom: 0;
      right: 0;
      background-image: url("../img/icon-phone.svg");
      background-repeat: no-repeat;
      background-size: auto;
      background-position: center;
      background-color: $white-grey;
    }
  }
}

.form__email {
  @media (min-width: $tablet-width) {
    margin: 0 0 32px 0;

    & .form__entry-field {
      margin: 0 0 0 0;

      @media (min-width: $desktop-width) {
        margin: 0 0 30px 0;

        &::after {
          content: "";
          position: absolute;
          width: 59px;
          height: 59px;
          bottom: 0;
          right: 0;
          background-image: url("../img/icon-mail.svg");
          background-repeat: no-repeat;
          background-size: auto;
          background-position: center;
          background-color: $white-grey;
        }
      }
    }
  }
}

.form__phone,
.form__email {
  @media (min-width: $tablet-width) {
    display: flex;
    flex-direction: column-reverse;
  }

  @media (min-width: $desktop-width) {
    position: relative;
    min-width: 45%;
    margin: 0 4px 0 0;
  }
}

.form__phone .form__input-title {
  @media (min-width: $desktop-width) {
    margin: 0 0 0 0;
  }
}

.form__filter-achievements {
  @media (min-width: $tablet-width) {
    margin: 0 0 19px 0;
  }

  @media (min-width: $desktop-width) {
    grid-column: -1 / 1;
    grid-row: 3;
    padding: 0 0 0 0;

    & .filter__legend {
      padding: 0 0;
      margin: 0 0 0 0;
    }
  }
}
