.intro {
  position: relative;
  display: grid;
  grid-template-columns: 1fr;
  font-style: normal;
  color: $white;
  background-color: $dark-grey;
  overflow: hidden;
  padding: 0;

  @media (min-width: $tablet-width) {
    padding: 0 0 0 0;
  }

  &::before {
    position: absolute;
    content: "";
    display: block;
    height: 462px;
    top: -67px;
    margin: 0 auto;
    padding: 0;
    background-image: url("../img/bg-back-mobile@1x.jpg");
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: 4px 70px;

    background-color: $dark-grey;
    overflow: hidden;
    width: 100%;
    z-index: 0;

    @media (min-resolution: 2dppx) {
      background-image: url("../img/bg-back-mobile@2x.jpg");
      background-position: 2px 64px;
      background-size: 101%;
    }

    @media (min-width: $tablet-width) {
      min-height: 686px;
      background-image: url("../img/bg-back-tablet@1x.jpg");
      background-repeat: no-repeat;
      background-size: 182%;
      background-position: center 64px;

      @media (min-resolution: 2dppx) {
        background-image: url("../img/bg-back-tablet@2x.jpg");
        background-size: 181%;
        background-position: center 67px;
      }
    }

    @media (min-width: $desktop-width) {
      min-height: 922px;
      background-image: url("../img/bg-back-desktop@1x.jpg");
      background-repeat: no-repeat;
      background-size: 214%;
      background-position: center 64px;

      @media (min-resolution: 2dppx) {
        background-image: url("../img/bg-back-desktop@2x.jpg");
        background-size: 214%;
        background-position: -683px 77px;
      }
    }
  }

  @media (min-width: $desktop-width) {
    padding: 0 0 0 0;
  }
}

.intro__wrapper {
  display: block;
  position: relative;
  z-index: 1;

  @media (min-width: $tablet-width) {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  @media (min-width: $desktop-width) {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
}

.intro__container {
  display: block;
  z-index: 4;
  max-width: 300px;
  margin: 0 auto;

  @media (min-width: $tablet-width) {
    z-index: 3;
    padding: 0 0 0 0;
  }

  @media (min-width: $desktop-width) {
    margin: 0 170px 0 0;
  }

  &::after {
    content: "";
    position: absolute;
    width: 100%;
    display: block;
    background-image: url("../img/iphone-hand-mobile@1x.png");
    background-position: 0 auto;
    background-repeat: no-repeat;
    min-width: 320px;
    min-height: 286px;
    top: 109px;
    left: 0;
    z-index: -1;

    @media (min-resolution: 2dppx) {
      background-image: url("../img/iphone-hand-mobile@2x.png");
      background-position: 0 0;
      background-size: contain;
    }

    @media (min-width: $tablet-width) {
      background-image: url("../img/iphone-hand-tablet@1x.png");
      background-repeat: no-repeat;
      min-height: 545px;
      top: 74px;
      left: -3%;

      @media (min-resolution: 2dppx) {
        background-image: url("../img/iphone-hand-tablet@2x.png");
        background-position: 0 0;
        background-size: cover;
      }
    }

    @media (min-width: $desktop-width) {
      background-image: url("../img/iphone-hand-desktop@1x.png");
      background-repeat: no-repeat;
      min-height: 643px;
      top: 214px;
      left: 14px;

      @media (min-resolution: 2dppx) {
        background-image: url("../img/iphone-hand-desktop@2x.png");
        background-position: 0 0;
        background-size: cover;
      }
    }
  }
}

.intro__button {
  display: block;
  border: 3px solid $white;
  box-sizing: border-box;
  border-radius: 29px;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 18px;
  margin: 28px auto 29px auto;
  padding: 17px 25px;
  color: $white;
  text-decoration: none;
  text-align: center;
  align-items: center;
  max-width: 280px;

  @media (min-width: $tablet-width) {
    margin: 0 0 44px 0;
    max-width: 300px;
  }

  &:hover,
  &:focus {
    color: $red;
    background-color: $white;
  }

  &:active {
    opacity: 0.3;
  }

  @media (min-width: $desktop-width) {
    font-size: 21px;
    margin: 0 0 66px 0;
    padding: 14px 15px;
  }
}

.intro__slogan {
  @include page-slogan;
  margin: 0 auto 337px auto;
  padding-top: 18px;
  text-align: center;
  max-width: 300px;

  @media (min-width: $tablet-width) {
    @include page-slogan-tablet;
    padding: 0 57px 27px 48px;
    margin: 96px 0 0 0;
  }

  @media (min-width: $desktop-width) {
    @include page-slogan-desktop;
    padding: 5px 0 35px 0;
    margin: 206px 0 0 0;
    max-width: 300px;
  }
}

.intro__js {
  padding-top: 68px;

  &::before {
    padding-top: 68px;

    @media (min-width: $tablet-width) {
      top: -67px;
      min-height: 728px;
    }

    @media (min-width: $desktop-width) {
      min-height: 846px;
    }
  }

  @media (min-width: $tablet-width) {
    padding-top: 108px;
  }

  @media (min-width: $desktop-width) {
    padding: 0 0 0 0;
    height: 100%;
  }
}


.intro__download-application-list {
  display: flex;
  justify-content: space-evenly;
  list-style: none;
  padding: 0;
  margin: 0 0 14px 0;

  @media (min-width: $tablet-width) {
    padding: 0 0 5px 0;
    justify-content: center;
  }

  @media (min-width: $desktop-width) {
    max-width: 310px;
    margin: 0;
    padding: 0 0 35px 0;
  }
}

.intro__download-application-item {
  display: block;

  @media (min-width: $tablet-width) {
    padding: 0 24px 0 12px;
  }

  @media (min-width: $desktop-width) {
    padding: 0 19px 0 17px;
  }
}

.intro__download-application-link {
  display: block;
  padding: 0;
  margin: 0;
}

.intro__download-application-link--apple {
  display: block;
  width: 47px;
  height: 56px;
  background-image: url("../img/logo-apple.svg");
  background-repeat: no-repeat;
  background-position: center;
}

.intro__download-application-link--android {
  display: block;
  width: 43px;
  height: 47px;
  background-image: url("../img/logo-android.svg");
  background-repeat: no-repeat;
  background-position: center;
  padding: 11px 0 0 0;
}

.intro__download-application-link--microsoft {
  display: block;
  width: 44px;
  height: 41px;
  background-image: url("../img/logo-microsoft.svg");
  background-repeat: no-repeat;
  background-position: center;
  padding: 23px 1px 0 0;
}

.intro__note {
  margin: 0;
  padding: 0 0 28px 0;
  line-height: 24px;
  text-align: center;

  @media (min-width: $tablet-width) {
    font-size: 18px;
    margin: 0 0 65px 0;
    padding: 0 0 54px 0;
  }

  @media (min-width: $desktop-width) {
    padding: 12px 0 60px 0;
  }
}
