.slider__toggles {
  position: relative;
  display: flex;
  justify-content: center;
  margin: 0 0 30px 0;
  min-height: 12px;


  @media (min-width: $tablet-width) {
    padding: 0;
    margin: 0;
  }

  @media (min-width: $desktop-width) {
    display: none;
  }
}

.slider__toggle {
  margin: auto 11px auto 7px;
  padding: 0;
  display: block;
  cursor: pointer;
  width: 6px;
  height: 6px;
  border-radius: 50%;
  background-color: rgba($color: $dark-grey, $alpha: 0.3);
  border: none;

  &:hover,
  &:focus {
    background-color: rgba($color: $dark-grey, $alpha: 0.6);
  }

  &:active {
    background-color: rgba($color: $dark-grey, $alpha: 0.1);
  }
}

.slider__toggle--current {
  padding: 0;
  display: block;
  width: 12px;
  height: 12px;
  background: $white;
  border: 3px solid $dark-grey;
}
