.social__list {
  padding: 0 0 33px 0;
  margin: 0;
  list-style: none;
  display: flex;
  justify-content: center;

  @media (min-width: $tablet-width) {
    padding: 0;
  }

  @media (min-width: $desktop-width) {
    margin: 0 0 0 23px;
  }
}

.social__item {
  display: flex;
  vertical-align: middle;
  width: 48px;
  height: 48px;
  margin: 0 -5px 0 13px;
  border-width: 3px;
  border-style: solid;
  border-color: rgba($color: $dark-grey, $alpha: 0.1);
  border-radius: 50%;
  opacity: 1;

  &:hover,
  &:focus {
    border-color: rgba($color: $dark-grey, $alpha: 1);
  }

  &:active {
    opacity: 0.1;
  }

  @media (min-width: $tablet-width) {
    margin: 0 7px 0 0;
  }

  @media (min-width: $tablet-width) {
    margin: 0 5px 0 0;
  }
}

.social__link {
  color: $black;
  text-decoration: none;
  margin: 16px 0 0 18px;

  & svg {
    fill: $red;
  }
}

.social__link--twitter {
  display: block;
  width: 18px;
  height: 14px;
  margin: -2px 0 0 0;
  padding: 0 0 0 15px;
  fill: $red;
  z-index: 10;
  opacity: 1;
}

.social__link--facebook {
  display: block;
  width: 9px;
  height: 18px;
  margin: -4px 0 0 5px;
  padding: 0 0 0 15px;
  fill: $red;
  opacity: 1;
}

.social__link--youtube {
  display: block;
  width: 15px;
  height: 13px;
  margin: -1px 0 0 3px;
  padding: 0 0 0 15px;
  fill: $red;
  z-index: 10;
  opacity: 1;
}
