body {
  position: relative;
  min-height: 100%;
  font-family: "Open Sans", "Arial", sans-serif;
  font-size: 14px;
  margin: 0;
  color: $black;
  background-color: $white;
}

img {
  max-width: 100%;
  height: auto;
}
