//Colors

$black: #000000;
$white: #ffffff;
$grey: #283645;
$dark-grey: #1d2631;
$green: #2aab6d;
$white-grey: #f2f2f2;
$red: #d22856;
$warm-grey: #e5e5e5;

//Viewports

$mobile-width: 659px;
$tablet-width: 660px;
$desktop-width: 960px;
